
img {
	 position: relative;
	 padding: 20px;

}


#testing {
	position: relative;
	width:100%;
}

h2 {
	position: absolute;
	width: 100%;

}

.menu-items {
	float: center;
}



.item {
	font-size: 50px;
}
button {
	opacity: 0.9;
}